<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings>
	<add name="BykeCon" connectionString="Data Source=EC2AMAZ-EHR6SVV;Initial catalog=BykeStores;Integrated Security=true;trusted_connection=true;TrustServerCertificate=true;Persist Security info=false;" providerName="Microsoft.Data.SqlClient"/>
		 
</connectionStrings>
</configuration>
